<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
		"https://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
	<property name="charset" value="UTF-8"/>
	<property name="fileExtensions" value=""/>
	<module name="io.spring.nohttp.checkstyle.check.NoHttpCheck">
		<property name="whitelistFileName" value="${config_loc}/whitelist.lines"/>
	</module>
	<module name="SuppressionFilter">
		<property name="file" value="${config_loc}/suppressions.xml"/>
	</module>
	<module name="SuppressWithPlainTextCommentFilter"/>
</module>
