.projects--wrapper {
  margin-left: -8px;
}
.projects--wrapper .project--container {
  border: 1px solid #34302d;
  display: inline-block;
  width: 286px;
  height: 338px;
  margin: 0 6px 20px 6px;
  vertical-align: top;
  text-align: center;
  padding: 30px 20px;
}
.projects--wrapper .project--container .project-logo--container {
  margin-bottom: 25px;
  height: 137px;
  vertical-align: middle;
}
.projects--wrapper .project--container .project-logo--container .project--logo {
  display: inline-block;
  vertical-align: middle;
}
.projects--wrapper .project--container .project--title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.projects--wrapper .project--container .project--description {
  font-size: 14px;
  line-height: 20px;
}
.projects--wrapper .project--container .project-links--container {
  position: absolute;
  background-color: rgba(109, 179, 63, 0.95);
  padding: 13px 0;
  width: 326px;
  margin: 127px 0 0 -20px;
  height: 58px;
  opacity: 0;
  transition: opacity 0.15s;
  -webkit-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
}
.projects--wrapper .project--container .project-links--container .project-link {
  display: inline-block;
  margin: 0 15px;
}
.projects--wrapper .project--container .project-links--container .project-link [class^=icon-] {
  font-size: 34px;
  width: 34px;
  height: 34px;
  color: rgba(241, 241, 241, 0.75);
}
.projects--wrapper .project--container .project-links--container .project-link p {
  margin: 6px 0;
  color: rgba(241, 241, 241, 0.75);
  font-size: 14px;
  line-height: 14px;
}
.projects--wrapper .project--container .project-links--container .project-link:hover {
  text-decoration: none;
}
.projects--wrapper .project--container .project-links--container .project-link:hover [class^=icon-] {
  color: white;
}
.projects--wrapper .project--container:hover .project-links--container {
  opacity: 1;
}
.projects--wrapper .project--container.parent-project .child-project-count--wrapper {
  float: right;
}
.projects--wrapper .project--container.parent-project .child-project-count--wrapper .child-project-count--number {
  position: relative;
  z-index: 101;
  color: #f1f1f1;
  margin: -22px -9px 0 9px;
}
.projects--wrapper .project--container.parent-project .child-project-count--wrapper .child-project-count--background {
  position: absolute;
  margin: -54px 0 0 -5px;
  z-index: 100;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #6db33f;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.project-header--wrapper .billboard--container {
  margin-top: 60px;
}
.project-header--wrapper .content--title {
  position: relative;
  margin-bottom: 30px;
  margin-top: 0;
}
.project-header--wrapper .content--title a {
  color: #f1f1f1;
}
.project-header--wrapper .project--title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #ebf1e7;
}
.project-header--wrapper .project--links--container {
  float: right;
  margin-top: -2px;
}
.project-header--wrapper .project--links--container .project-link {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.project-header--wrapper .project--links--container .project-link [class^=icon-] {
  font-size: 37px;
  width: 34px;
  height: 34px;
  color: #d4d4d4;
}
.project-header--wrapper .project--links--container .project-link:last-child {
  margin-right: 0;
}
.project-header--wrapper .project--links--container .project-link:hover {
  text-decoration: none;
}
.project-header--wrapper .project--links--container .project-link:hover [class^=icon-] {
  color: #6db33f;
}
.project-header--wrapper .project--links--container .project-link div.icon {
  margin-top: 3px;
}
.project-header--wrapper .project--description {
  color: #f1f1f1;
  font-size: 16px;
  line-height: 24px;
}
.project-header--wrapper .project--description a {
  color: #5fa134;
}
.project-header--wrapper .project-quickstart-btn {
  margin-top: 40px;
}
.project-header--wrapper .spring-data--bg {
  background-color: #666;
}

.project-body--container .project-body--section {
  margin-bottom: 30px;
  padding-right: 20px;
}
.project-body--container .project-body--section p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}
.project-body--container .project-body--section li {
  padding: 5px 0;
}
.project-body--container .project-body--section .underlined-title {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.project-body--container .project-body--section h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.project-body--container .project-body--section pre {
  border-radius: 0;
}

.quickstart--container {
  border: 1px solid #34302d;
}
.quickstart--container .quickstart--title {
  font-family: "Montserrat", sans-serif;
  color: #f1f1f1;
  background-color: #34302d;
  font-size: 16px;
  line-height: 16px;
  padding: 17px 0;
  width: 211px;
  text-align: center;
  display: inline-block;
}
.quickstart--container .quickstart--dropdown {
  display: inline-block;
  width: 34.6%;
  margin-left: 16px;
}
.quickstart--container .quickstart--dropdown .item-dropdown--title {
  padding: 9px 0 7px 20px;
  border: 1px solid #34302d;
}
.quickstart--container .quickstart--dropdown .item-dropdown--title .icon {
  margin: -3px 0 0 6px;
  vertical-align: middle;
}
.quickstart--container .quickstart--dropdown .item-dropdown--icon {
  padding: 9px;
  background-color: #34302d;
}
.quickstart--container .quickstart--dropdown .project-version--dropdown {
  width: 100%%;
  padding: 0;
}
.quickstart--container .quickstart--dropdown .project-version--dropdown .project-version {
  color: #f1f1f1;
  padding: 8px 20px;
  border-top: 1px solid #4a4440;
  cursor: pointer;
}
.quickstart--container .quickstart--dropdown .project-version--dropdown .project-version .icon {
  margin: -3px 0 0 6px;
  vertical-align: middle;
}
.quickstart--container .quickstart--dropdown .project-version--dropdown .project-version.active {
  background-color: black;
  border-color: transparent;
}
.quickstart--container .quickstart--dropdown .project-version--dropdown .project-version.active:hover {
  background-color: black;
}
.quickstart--container .quickstart--dropdown .project-version--dropdown .project-version:first-child {
  border: none;
}
.quickstart--container .quickstart--dropdown .project-version--dropdown .project-version:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.quickstart--container .quickstart--dropdown.js-open .item-dropdown--title {
  border: 1px solid #6db33f;
}
.quickstart--container .quickstart--dropdown:hover .item-dropdown--icon {
  color: white;
}
.quickstart--container .quickstart--body {
  padding: 20px;
}

.project-documentation--container {
  border-color: #34302d;
}
.project-documentation--container .item-dropdown--title {
  background-color: transparent;
  border-bottom: 1px solid #34302d;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 14px;
}
.project-documentation--container .item--dropdown {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
}
.project-documentation--container .item--dropdown .item--body-title {
  padding-top: 15px;
  color: #34302d;
  margin: 0 20px;
  border-color: #d7d5d3;
}
.project-documentation--container .item--dropdown .item--body--version {
  margin: 0 20px;
  border-color: #d7d5d3;
}
.project-documentation--container .item--dropdown .item--body--version p {
  color: #34302d;
  display: inline-block;
}
.project-documentation--container .item--dropdown .item--body--version .icon {
  vertical-align: top;
  margin: 2px 0 0 6px;
}
.project-documentation--container .item--dropdown .item--body--version .icon.icon-pre-release {
  background-color: #34302d;
  border-radius: 2px;
}
.project-documentation--container .item--dropdown .item--body--version:last-child {
  margin-bottom: 20px;
}

.project-sub-link--wrapper {
  padding: 20px 20px 18px;
}
.project-sub-link--wrapper .project-sub-link {
  background-color: #cbcaca;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 2.9%;
}
.project-sub-link--wrapper .project-sub-link:last-child {
  margin-right: 0;
}

.project-additional-resource--wrapper {
  padding: 20px;
}
.project-additional-resource--wrapper h3 {
  margin: 5px 0;
}
.project-additional-resource--wrapper ul {
  margin: 0 0 25px 0;
}
.project-additional-resource--wrapper ul li {
  border: none;
  padding: 5px 0;
}
.project-additional-resource--wrapper ul:last-child {
  margin-bottom: 0;
}
