body,h1,h2,h3,p,input {
    margin: 0;
    font-weight: 400;
    font-family: "Varela Round", sans-serif;
    color: #34302d;
}

h1 {
    font-size: 24px;
    line-height: 30px;
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
}

h3 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 24px;
}

p a, ul a {
    color: #5fa134;
}

code {
    font-size: 14px;
}
