<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%p] - %m%n</pattern>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>
