<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<div class="container">
		<div class="content">
			<h2>Login with Username and Password</h2>
			<form name="form" action="/login" method="POST">
				<fieldset>
					<input type="text" name="username" value="" placeholder="Username" />
					<input type="password" name="password" placeholder="Password" />
				</fieldset>
				<input type="submit" id="login" value="Login" class="btn btn-primary" />
			</form>
		</div>
	</div>
</body>
</html>
