.gradle
*.sw?
.#*
*#
*~
/build
/code
.classpath
.project
.settings
bin
build
lib/
target
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
overridedb.*
*.iml
.idea
