---
# The name of your project
title: Spring Boot

badges:

  # Specify your project's twitter handle, if any. Delete if none.
  twitter: springboot

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-projects/spring-boot
      icon: github

    - name: Issues (GitHub)
      url:  https://github.com/spring-projects/spring-boot/issues
      icon: tracking

    - name: CI (Bamboo)
      url:  https://build.springsource.org/browse/BOOT
      icon: ci

    - name: StackOverflow
      url:  http://stackoverflow.com/questions/tagged/spring-boot
      icon: stackoverflow

#    - name: Metrics (SonarQube)
#      url:  https://sonar.springsource.org/dashboard/index/org.springframework.data:spring-data-jpa
#      icon: metrics

---
<!DOCTYPE HTML>
<html lang="en-US">

{% capture billboard_description %}
Takes an opinionated view of building production-ready Spring applications. Spring Boot favors convention over configuration and is designed to get you up and running as quickly as possible.
{% endcapture %}

{% capture main_content %}
Spring Boot makes it easy to create stand-alone, production-grade Spring based Applications that can you can "just run". We take an opinionated view of the Spring platform and third-party libraries so you can get started with minimum fuss. Most Spring Boot applications need very little Spring configuration.

## Features

* Create stand-alone Spring applications 
* Embed Tomcat or Jetty directly (no need to deploy WAR files)
* Provide opinionated 'starter' POMs to simplify your Maven configuration
* Automatically configure Spring whenever possible
* Provide production-ready features such as metrics, health checks and externalized configuration
* Absolutely <strong>no code generation</strong> and <strong>no requirement for XML</strong> configuration

The [reference guide](http://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle) includes detailed descriptions of all the features, plus an extensive [howto](http://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#howto) for common use cases.

<span id="quick-start"></span>
## Quick Start

Spring Boot ships with a command line tool that can be used if you want to quickly prototype with Spring. It allows you to run Groovy scripts, which means that you have a familiar Java-like syntax, without so much boilerplate code. Follow the instructions in our main documentation if you want to [install the Spring Boot CLI](http://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#getting-started-installing-the-cli).

If you are Java developer you can use the Quick Start example below, or read the reference documentation [getting started](http://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#getting-started) guide.

{% include download_widget.md %}

<br/>
`hello/SampleController.java`

```java
package hello;

import org.springframework.boot.*;
import org.springframework.boot.autoconfigure.*;
import org.springframework.stereotype.*;
import org.springframework.web.bind.annotation.*;

@Controller
@EnableAutoConfiguration
public class SampleController {

    @RequestMapping("/")
    @ResponseBody
    String home() {
        return "Hello World!";
    }

    public static void main(String[] args) throws Exception {
        SpringApplication.run(SampleController.class, args);
    }
}
```

{% endcapture %}

{% capture related_resources %}

### Sample Projects

* [Simple](http://github.com/spring-projects/spring-boot/tree/master/spring-boot-samples/spring-boot-sample-simple)
* [Embedded Tomcat](http://github.com/spring-projects/spring-boot/tree/master/spring-boot-samples/spring-boot-sample-tomcat)
* [Batch](http://github.com/spring-projects/spring-boot/tree/master/spring-boot-samples/spring-boot-sample-batch)
* [Data JPA](http://github.com/spring-projects/spring-boot/tree/master/spring-boot-samples/spring-boot-sample-data-jpa)
* [Integration](http://github.com/spring-projects/spring-boot/tree/master/spring-boot-samples/spring-boot-sample-integration)
* [more...](http://github.com/spring-projects/spring-boot/tree/master/spring-boot-samples)

### Getting Started Guides

* [Building an Application with Spring Boot]({{site.main_site_url}}/guides/gs/spring-boot)
* [Building a RESTful Web Service]({{site.main_site_url}}/guides/gs/rest-service)
* [Serving Web Content]({{site.main_site_url}}/guides/gs/serving-web-content)
* [Converting a Spring Boot JAR Application to a WAR]({{site.main_site_url}}/guides/gs/convert-jar-to-war)

### External Links

* Presentation from [Spring One 2GX 2013](https://speakerdeck.com/dsyer/spring-boot-introduction)
* InfoQ article on [Micro Frameworks](http://www.infoq.com/articles/microframeworks1-spring-boot)
* InfoQ news on [release of 1.0.0](http://www.infoq.com/news/2014/04/spring-boot-goes-ga)
* Josh Long's vJUG [session on YouTube](http://www.youtube.com/watch?v=eCos5VTtZoI) from April 2014
{% endcapture %}


{% include project_page.html %}

</html>
