<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="org.springframework.boot.autoconfigure.mybatis.domain"/>
	</typeAliases>
	<mappers>
		<mapper resource="org/springframework/boot/autoconfigure/mybatis/repository/CityMapper.xml"/>
	</mappers>
</configuration>
