<settings>
        <localRepository>../../../../build/local-m2-repository</localRepository>
        <profiles>
                <profile>
                        <id>cli-test-repo</id>
                        <activation>
                                <activeByDefault>true</activeByDefault>
                        </activation>
                        <repositories>
                                <repository>
                                        <id>local.central</id>
                                        <url>file:../../../../build/test-repository</url>
                                        <releases>
                                                <enabled>true</enabled>
                                        </releases>
                                        <snapshots>
                                                <enabled>true</enabled>
                                        </snapshots>
                                </repository>
                        </repositories>
                </profile>
        </profiles>
</settings>