@import url("spring.css");

div .switch {
    margin-left: 8px;
    border-color: #406A2A;
    border-radius: 4px 4px 0 0;
}

div .switch--item {
    color: #406A2A;
    background-color: transparent;
}

div .switch--item.selected {
    background-color: #406A2A;
}

div .switch--item:not(:first-child) {
    border-color: #406A2A;
}