<div class="billboard--wrapper project-header--wrapper">
    <div class="billboard--container">
        <div class="project-icon">
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span8 billboard--area">
                    <div class="content--title">
{% capture breadcrumb %}
[Projects]({{ site.projects_site_url }}){% if parent_link %} : {{ parent_link }}{% endif %}
{% endcapture %}
{{ breadcrumb | markdownify }}
                    </div>

                    <div class="project--title">{{ site.name }}
                        <div class="project--links--container">
                            <a href="{{ site.github_repo_url }}" class="project-link">
                                <i class="icon-github"></i>
                            </a>
{% if site.forum %}
                            <a href="{{ site.forum }}" class="project-link project-link-forum">
                                <div class="spring-icon spring-icon-forum">
                                </div>
                            </a>
{% endif %}
                        </div>
                    </div>

                    <div class="project--description">
{{ billboard_description | markdownify }}
                    </div>

                    {{ billboard_quickstart_button }}
                </div>
            </div>
        </div>
    </div>
</div>
