<script type="text/html" id="project-documentation-widget-template">
    <h3><%= name %></h3>
    <table>
        <thead>
            <tr>
                <th>Release</th>
                <th>Documentation</th>
            </tr>
        </thead>
        <tbody>
            <% _.each(releases, function(release) { %>
            <tr>
                <td>
                    <%= release.fullName %>
                    <i class="<%= release.statusIconClass() %>"></i>
                </td>
                <td>
                    <a href='<%= release.refDocUrl %>'>Reference</a>
                    <a href='<%= release.apiDocUrl %>'>API</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</script>

<script type="text/html" id="project-quickstart-selector-template">
    <select class='selector'>
        <% _.each(releases, function(release, index) { %>
            <option value="<%= index %>"><%= release.fullName %> (<%= release.statusIconClass() %>)</option>
        <% }); %>
    </select>
</script>

<script type="text/html" id="project-quickstart-maven-widget-template">
    <pre>
&lt;dependency&gt;
    &lt;groupId&gt;<%= groupId %>&lt;/groupId&gt;
    &lt;artifactId&gt;<%= artifactId %>&lt;/artifactId&gt;
    &lt;version&gt;<%= fullName %>&lt;/version&gt;
&lt;/dependency&gt;
    </pre>

</script>