<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="com.puppycrawl.tools.checkstyle.Checker">
	<module name="io.spring.javaformat.checkstyle.SpringChecks" />
	<module name="com.puppycrawl.tools.checkstyle.TreeWalker">
		<module
			name="com.puppycrawl.tools.checkstyle.checks.imports.IllegalImportCheck">
			<property name="regexp" value="true" />
			<property name="illegalPkgs"
				value="^sun.*, ^org\.apache\.commons\.(?!compress|dbcp2|lang|lang3|logging|pool2).*, ^com\.google\.common.*, ^org\.flywaydb\.core\.internal.*" />
			<property name="illegalClasses"
				value="^reactor\.core\.support\.Assert, ^org\.junit\.rules\.ExpectedException, ^org\.slf4j\.LoggerFactory" />
		</module>
		<module
			name="com.puppycrawl.tools.checkstyle.checks.imports.ImportControlCheck">
			<property name="file"
				value="${main.basedir}/src/checkstyle/import-control.xml" />
			<property name="path" value="^.*[\\/]src[\\/]main[\\/].*$" />
		</module>
		<module
			name="com.puppycrawl.tools.checkstyle.checks.regexp.RegexpSinglelineJavaCheck">
			<property name="maximum" value="0" />
			<property name="format"
				value="assertThatExceptionOfType\((NullPointerException|IllegalArgumentException|IOException|IllegalStateException)\.class\)" />
			<property name="message"
				value="Please use specialized AssertJ assertThat*Exception method." />
			<property name="ignoreComments" value="true" />
		</module>
 		<module name="com.puppycrawl.tools.checkstyle.checks.regexp.RegexpSinglelineJavaCheck">
 			<property name="maximum" value="0"/>
			<property name="format" value="org\.mockito\.Mockito\.(when|doThrow|doAnswer)" />
			<property name="message"
				value="Please use BDDMockito imports." />
			<property name="ignoreComments" value="true" />
		</module>
	</module>
</module>
