<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Hello</title>
</head>
<body>
	<h1 layout:fragment="header" th:text="${message}">Header</h1>
	<div layout:fragment="content">Lorem ipsum dolor sit amet,
		consectetur adipiscing elit. Cras ut fringilla augue, quis dictum
		turpis. Sed tincidunt mi vel euismod viverra. Nulla facilisi.
		Suspendisse mauris dolor, egestas ac leo at, porttitor ullamcorper
		leo. Suspendisse consequat, justo ut rutrum interdum, nibh massa
		semper dui, id sagittis tellus lectus at nibh. Etiam at scelerisque
		nisi. Quisque vel eros tempor, fermentum sapien sed, gravida neque.
		Fusce interdum sed dolor a semper. Morbi porta mauris a velit laoreet
		viverra. Praesent et tellus vehicula, sagittis mi quis, faucibus urna.
		Ut diam tortor, vehicula eget aliquam eget, elementum a odio. Fusce at
		nisl sapien. Suspendisse potenti.</div>
</body>
</html>
