<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="com.puppycrawl.tools.checkstyle.Checker">
	<module name="io.spring.javaformat.checkstyle.SpringChecks" />
	<module name="com.puppycrawl.tools.checkstyle.TreeWalker">
		<module name="com.puppycrawl.tools.checkstyle.checks.imports.IllegalImportCheck">
			<property name="illegalPkgs" value="sun, org.apache.commons.(?!codec|dbcp|dbcp2|logging|pool|pool2).*, com.google.common.(?!cache).*, org.flywaydb.core.internal"/>
			<property name="regexp" value="true"/>
		</module>
	</module>
</module>
