<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!--
	
	This file is the default logback configuration for Spring Boot. To use the same
	defaults and add custom logger levels you can copy this file and add additional
	overrides, e.g:
	
	<include resource="org/springframework/boot/logging/logback/base.xml"/>	
	<logger name="org.springframework.web" level="DEBUG"/>
	...

    -->

	<include resource="org/springframework/boot/logging/logback/base.xml"/>	

</configuration>
