 -----
 Repackage classifier
 -----
 Stephane Nicoll
 -----
 2014-05-02
 -----

  By default, the <<<repackage>>> goal will replace the original artifact with the
  executable one. If you prefer to keep the original artifact and attach the executable
  one with a different classifier, configure the plugin as follows:

---
<project>
  ...
  <build>
    ...
    <plugins>
      ...
      <plugin>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${project.version}</version>
        <executions>
          <execution>
            <goals>
              <goal>repackage</goal>
            </goals>
            <configuration>
              <classifier>exec</classifier>
            </configuration>
          </execution>
        </executions>
        ...
      </plugin>
      ...
    </plugins>
    ...
  </build>
  ...
</project>
---

  This configuration will generate two artifacts: the original one and the executable counter
  part produced by the repackage goal. Both will be installed/deployed accordingly.




