@IMPORT url("highlight.css");

html {
	padding: 0pt;
	margin: 0pt;
}

body {
	color: #333333;
	margin: 15px 30px;
	font-family: Helvetica, Arial, Freesans, Clean, Sans-serif;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

code {
	font-size: 16px;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	color: #6D180B;
}

:not(pre) > code {
    background-color: #F2F2F2;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 1px 3px 0;
    text-shadow: none;
    white-space: nowrap;
}

body>*:first-child {
	margin-top: 0 !important;
}

div {
	margin: 0pt;
}

hr {
	border: 1px solid #CCCCCC;
	background: #CCCCCC;
}

h1,h2,h3,h4,h5,h6 {
	color: #000000;
	cursor: text;
	font-weight: bold;
	margin: 30px 0 10px;
	padding: 0;
}

h1,h2,h3 {
	margin: 40px 0 10px;
}

h1 {
    margin: 70px 0 30px;
    padding-top: 20px;
}

div.part h1 {
    border-top: 1px dotted #CCCCCC;
}

h1,h1 code {
	font-size: 32px;
}

h2,h2 code {
	font-size: 24px;
}

h3,h3 code {
	font-size: 20px;
}

h4,h1 code,h5,h5 code,h6,h6 code {
	font-size: 18px;
}

div.book,div.chapter,div.appendix,div.part,div.preface {
	min-width: 300px;
	max-width: 1200px;
	margin: 0 auto;
}

p.releaseinfo {
	font-weight: bold;
	margin-bottom: 40px;
	margin-top: 40px;
}

div.authorgroup {
	line-height: 1;
}

p.copyright {
	line-height: 1;
	margin-bottom: -5px;
}

.legalnotice p {
	font-style: italic;
	font-size: 14px;
	line-height: 1;
}

div.titlepage+p,div.titlepage+p {
	margin-top: 0;
}

pre {
	line-height: 1.0;
	color: black;
}

a {
	color: #4183C4;
	text-decoration: none;
}

p {
	margin: 15px 0;
	text-align: left;
}

ul,ol {
	padding-left: 30px;
}

li p {
	margin: 0;
}

div.table {
	margin: 1em;
	padding: 0.5em;
	text-align: center;
}

div.table table, div.informaltable table {
	display: table;
	width: 100%;
}

div.table td {
	padding-left: 7px;
	padding-right: 7px;
}

.sidebar {
	line-height: 1.4;
	padding: 0 20px;
	background-color: #F8F8F8;
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
}

.sidebar p.title {
	color: #6D180B;
}

pre.programlisting, pre.screen {
	font-size: 15px;
	padding: 6px 10px;
	background-color: #F8F8F8;
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	clear: both;
	overflow: auto;
	line-height: 1.4;
	font-family: Consolas,"Liberation Mono",Courier,monospace;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #DDDDDD !important;
	border-radius: 4px !important;
	border-collapse: separate !important;
	line-height: 1.6;
}

table thead {
	background: #F5F5F5;
}

table tr {
	border: none;
	border-bottom: none;
}

table th {
	font-weight: bold;
}

table th,table td {
	border: none !important;
	padding: 6px 13px;
}

table tr:nth-child(2n) {
	background-color: #F8F8F8;
}

td p {
	margin: 0 0 15px 0;
}

div.table-contents td p {
	margin: 0;
}

div.important *,div.note *,div.tip *,div.warning *,div.navheader *,div.navfooter *,div.calloutlist * {
	border: none !important;
	background: none !important;
	margin: 0;
}

div.important p,div.note p,div.tip p,div.warning p {
	color: #6F6F6F;
	line-height: 1.6;
}

div.important code,div.note code,div.tip code,div.warning code {
	background-color: #F2F2F2 !important;
    border: 1px solid #CCCCCC !important;
    border-radius: 4px !important;
    padding: 1px 3px 0 !important;
    text-shadow: none !important;
    white-space: nowrap !important;
}


.note th,.tip th,.warning th {
	display: none;
}

.note tr:first-child td,.tip tr:first-child td,.warning tr:first-child td {
	border-right: 1px solid #CCCCCC !important;
	padding-top: 10px;
}


div.calloutlist p, div.calloutlist td {
	padding: 0;
	margin: 0;
}

div.calloutlist > table > tbody > tr > td:first-child {
	padding-left: 10px;
	width: 30px !important;
}

div.important,div.note,div.tip,div.warning {
	margin-left: 0px !important;
	margin-right: 20px !important;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.toc {
	line-height: 1.2;
}

dl,dt {
	margin-top: 1px;
	margin-bottom: 0;
}

div.toc > dl > dt {
	font-size: 32px;
	font-weight: bold;
	margin: 30px 0 10px 0;
	display: block;
}

div.toc > dl > dd > dl > dt {
	font-size: 24px;
	font-weight: bold;
	margin: 20px 0 10px 0;
	display: block;
}

div.toc > dl > dd > dl > dd > dl > dt {
	font-weight: bold;
	font-size: 20px;
	margin: 10px 0 0 0;
}

tbody.footnotes * {
	border: none !important;
}

div.footnote p {
	margin: 0;
	line-height: 1;
}

div.footnote p sup {
	margin-right: 6px;
	vertical-align: middle;
}

div.navheader {
	border-bottom: 1px solid #CCCCCC;
}

div.navfooter {
	border-top: 1px solid #CCCCCC;
}
