<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#"> HDIV Spring Boot sample </a>
				<ul class="nav">
					<li><a th:href="@{/}" href="home.html"> Home </a></li>
				</ul>
			</div>
		</div>
		<div class="content">
			<h2>HDIV Spring boot sample</h2>
			<p>
				<a th:href="@{/links}">Link URL example</a>
			</p>
			<p>
				<a th:href="@{/form}">Form example</a>
			</p>
		</div>
	</div>
</body>
</html>