<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="https://www.springframework.org/schema/beans"
	xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xmlns:context="https://www.springframework.org/schema/context"
	xsi:schemaLocation="https://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
				https://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="foo" class="java.lang.String">
		<constructor-arg>
			<value>World</value>
		</constructor-arg>
	</bean>

</beans>
